<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contacto</h1>
      <p class="text-center lead">Crie ou edite seu contacto</p>

      <% include('includes/messages') %>


      <% if(contacto._id) { %>
        <form action="/contacto/edit/<%= contacto._id %>" method="POST">
        <% } else { %>
        <form action="/contacto/register" method="POST">
        <% } %>
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <div class="form-group">
          <label>Nome</label>
          <input value="<%= contacto.nome %>" type="text" class="form-control" name="nome" />
        </div>
        <div class="form-group">
          <label>Apelido</label>
          <input value="<%= contacto.apelido %>" type="text" class="form-control" name="apelido" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input value="<%= contacto.email %>" type="email" class="form-control" name="email" />
        </div>
        <div class="form-group">
          <label>Telefone</label>
          <input value="<%= contacto.telefone %>" type="tel" class="form-control" name="telefone" />
        </div>
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>
      </form>
    </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
